.container {
  padding: 20px;
  width: 96%;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #DDDDDD;
}

.table th {
  background-color: #f4f4f4;
}

.item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.btn-group {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 6px 12px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  outline: none;
  border: none;
}
.btn-add {
  margin-bottom: 20px;
}
.btn-add a{
  background-color: #f40963;
  padding: 6px 20px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.btn-primary {
  background-color: #007bff;
}

.btn-danger {
  background-color: #f71b31;
}

.btn:hover {
  opacity: 0.8;
}

.deleteItem input {
  outline: none;
  padding: 4px 20px;
  border-radius: 10px;
  border: 1px solid #DDDD;
  width: 280px;
}

.text-danger {
  color: #dc3545;
}
