<div class="container">
  <div class="container-title">
    <img src="/assets/about.png" alt="">
  </div>
  <h3>The Founders</h3>
  <div class="container-founders">
    <div class="content-founder">
      <img src="/assets/anh1.png" alt="">
      <p>HM JaWad</p>
    </div>

    <div class="content-founder">
      <img src="/assets/anh2.png" alt="">
      <p>Furqan Abid</p>
    </div>

    <div class="content-founder">
      <img src="/assets/anh3.png" alt="">
      <p>Abdullah Ah</p>
    </div>

    <div class="content-founder">
      <img src="/assets/anh4.png" alt="">
      <p>Abrar Khan</p>
    </div>
  </div>
  <h3>Testimonials</h3>
  <div class="container-testimonials">
    <div class="content-testimonials">
      <img src="/assets/founder1.png" alt="">
      <p>Once we ordered some accessories items and we got the products delivered in our doorstep,
        the customer support was super helpful and they answered all my queries.</p>
    </div>
    <div class="content-testimonials">
      <img src="/assets/founder2.png" alt="">
      <p>I ordered 5 shirts from them and received them in no time. The customer support was awesome!</p>
    </div>
    <div class="content-testimonials">
      <img src="/assets/founder3.png" alt="">
      <!-- <i class="fa-solid fa-quote-left"></i> -->
      <p>I got a wrong shirt so I contacted them and they happily offered me a refund.
        I will surely shop from them again.</p>
    </div>
  </div>
</div>
