.container {
  margin-top: 20px;
}

.banner {
  position: relative;
  width: 80%;
  height: 420px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.banner-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.banner-slide.active {
  opacity: 1;
}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.prev:hover, button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.search-item {
  margin-bottom: 1rem;
  text-align: center;
}

.search-item input {
  width: 32%;
  outline: none;
  padding: 6px 24px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #7b7b7bdd;
  transition: all 0.3s ease;
}

.search-item input::placeholder {
  color: #aaa;
}

.search-item input:focus {
  border-color: #4285F4;
  box-shadow: 0 0 5px rgba(77, 141, 243, 0.5);
}

.container-title {
  text-align: center;
  margin: 30px 0;
}

h3 {
  color: #023e67;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  color: #555555;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  margin: 20px 40px;
}

.item-content {
  width: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(148, 148, 151, 0.2);
}

.item-content:hover {
  cursor: pointer;
}

.item-content img {
  width: 100%;
  height: 320px;
  max-height: 320px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #F83758;
}

.item-title {
  text-align: center;
  color: #1D1D1D;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}

.item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.old-price {
  margin:5px 10px;
  text-decoration: line-through;
}

.new-price {
  color: #024E82;
  margin:5px 10px;
}
.container-title-topseller {
  margin: 40px 0 30px 0;
  text-align: center;
}

.content-topseller {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  margin: 10px 40px;
}

.service {
  margin: 80px 40px 60px 40px;
}

.support, .delivery, .return, .payment {
  display: flex;
  padding: 10px 12px;
  border: 1px solid #024E82;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.support:hover, .delivery:hover, .return:hover, .payment:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.delivery-icon, .support-icon, .return-icon, .payment-icon {
  margin-right: 10px;
  color: #024E82;
  font-size: 20px;
}

.delivery-content h4, .support-content h4,
.return-content h4, .payment-content h4 {
  font-weight: bold;
  font-size: 16px;
}

.delivery-content p, .support-content p,
.return-content p, .payment-content p {
  margin-bottom: 0;
}

.paginate {
  text-align: center;
}


@media(max-width: 1200px) {
  .content-product, .content-topseller {
    grid-template-columns: repeat(4, 1fr);
  }

  .item-content img {
    height: auto;
    max-height: 320px;
  }
}

@media(max-width: 768px) {
  .content-product, .content-topseller {
    grid-template-columns: repeat(3, 1fr);
  }
}
