<div class="container">
  <table class="order-table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Total price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allOrder, let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ item.fullname }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.email }}</td>
        <td class="total-price">${{ item.total }}</td>
        <td class="action">
          <div>
            <button type="button" class="btn-approved">Chấp nhận</button>
          </div>
          <div>
            <button type="button" class="btn-pending">Hủy</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
