<div class="container">
  <div class="container-title">
    <img src="/assets/contact.jpg" alt="">
    <h2>CONTACT US</h2>
  </div>
  <div class="container-content">
    <div class="content-form">
      <h3>We would love to hear from you.</h3>
      <p>If you have any query or any type of suggestion, you can contact us here. We would love to hear from you</p>
      <div class="ms-3">
        <div class="content-name">
          <label for="">Name</label>
          <input type="text" class="input-name">
        </div>
        <div class="content-email">
          <label for="">Email</label>
          <input type="text" class="input-email">
        </div>
      </div>
      <div class="content-message">
        <label for="">Message</label>
        <input type="text" class="input-message">
      </div>
    </div>
    <div class="content-information">
      <div class="information">
        <h4>Visit Us</h4>
        <p>Ha Noi, Viet Nam</p>
        <p>+84987654321</p>
      </div>
      <div class="information">
        <h4>Get In Touch</h4>
        <p>You can get in touch with us on this provided email.</p>
        <p>Email: </p>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" class="btn-send">SEND MESSAGE</button>
  </div>
</div>
