<div class="cart-container">
  <nz-breadcrumb class="nz-breadcrumb">
    <nz-breadcrumb-item [routerLink]="['/home']">HOME</nz-breadcrumb-item>
    <nz-breadcrumb-item>CART</nz-breadcrumb-item>
  </nz-breadcrumb>
  <table class="cart-table">
    <thead>
      <tr>
        <th></th>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allCartItem">
        <td>
          <button class="remove-btn" (click)="deleteItem(item._id)"><i class="fa-solid fa-x"></i></button>
        </td>
        <td>
          <img src="{{ item.image }}" alt="" class="item-image">
        </td>
        <td class="title-table">{{ item.name }}</td>
        <td>${{ item.price }}.00</td>
        <td>
          <div class="quantity-controls">
            <button class="btn-decrease" (click)="decreaseQuantity(item)">-</button>
            <input type="number" class="input-table" [(ngModel)]="item.quantity" value="1" min="1" />
            <button class="btn-increase" (click)="increaseQuantity(item)">+</button>
          </div>
        </td>
        <td>${{ item.total }}.00</td>
      </tr>
    </tbody>
  </table>
  <div class="cart-totals" >
    <h3>Cart Totals</h3>
    <table>
      <tr>
        <td>Subtotal</td>
        <td class="bold">${{ total }}.00</td>
      </tr>
      <tr>
        <td>Shipping</td>
        <td>FREE!!!</td>
      </tr>
      <tr>
        <td class="bold">Total</td>
        <td class="bold">${{ total }}.00</td>
      </tr>
    </table>
    <button class="checkout-btn" [routerLink]="['/checkout']" [disabled]="!allCartItem || allCartItem.length === 0">PROCEED TO CHECKOUT</button>
  </div>
</div>
