<div class="container" *ngIf="router.url !== '/login' && router.url !== '/register'
                        && router.url !== '/admin' && router.url !== '/noti'
                        && router.url !== '/create' && router.url !== '/edit/:id'">
  <div>
    <a href="/home"><p>North Start</p></a>
  </div>
  <div class="container-nav">
    <a href="/home">Home</a>
    <a href="/category">Category</a>
    <a href="/contact">Contact Us</a>
  </div>

  <div class="container-menu">
    <div *ngIf="isLoggedIn; else loggedOutTemplate">
      <a nz-dropdown [nzDropdownMenu]="menu">
        <p>{{ username }}</p>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Trang cá nhân</li>
          <li nz-menu-item>Đơn hàng</li>
          <li nz-menu-divider></li>
          <li nz-menu-item>
            <a href="/login" (click)="logOut()">Đăng xuất</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <ng-template #loggedOutTemplate>
      <button type="button" class="btn-login" [routerLink]="['/login']">Đăng nhập</button>
    </ng-template>

    <i class="fa-solid fa-cart-shopping" [routerLink]="['/cart']"></i>

  </div>
</div>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<footer class="footer" *ngIf="router.url !== '/login' && router.url !== '/register'
                      && router.url !== '/admin' && router.url !== '/noti'
                      && router.url !== '/create' && router.url !== '/edit/:id' ">
  <div class="footer-content">
    <p>&copy; 2024 North Start. All rights reserved.</p>
    <div class="footer-nav">
      <a href="/home">Privacy Policy</a>
      <a href="/home">Terms of Service</a>
      <a href="/home">Contact Us</a>
    </div>
  </div>
  <div class="footer-payment">
    <i class="fa-brands fa-cc-visa"></i>
    <i class="fa-brands fa-cc-paypal"></i>
  </div>
</footer>
