.container {
  width: 96%;
  margin: 20px auto;
}

.container h2 {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  margin-top: 20px;
}

.content-item {
  border: 1px solid #DDDDDD;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px rgba(189, 186, 186, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.content-item .stt {
  font-weight: bold;
}

.item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.item-name {
  width: 40%;
  text-align: center;
  font-weight: 500;
}

.content-item .price {
  color: rgb(226, 17, 17);
  font-weight: bold;
}

.content-item .btn-order {
  display: flex;
  flex-direction: column;
}

.btn-comment {
  background-color: rgb(5, 183, 5);
  color: white;
  font-weight: bold;
  padding: 4px 16px;
  outline: none;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
}

.btn-repurchase {
  background-color: rgb(233, 10, 10);
  color: white;
  font-weight: bold;
  padding: 4px 16px;
  outline: none;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
}
